body {
    background-color: rgba(252, 229, 144, 255);
    color: black;
    font-family: 'Oswald', sans-serif;
}

h1 {
    margin: 25px;
    font-weight: bold;
}

h2 {
  margin-left: 25px;
  font-weight: bold;
}

p {
    margin: 25px;
    line-height: 1.5;
}

.page-header {
    font-family: cursive;
    color: black;
    font-size: 110px;
    text-align: center;
}

.alcim {
    font-style: italic;
    color: black;
    text-align: center;
    font-size: 30px;
}

.footer {
    background-color: #222;
    color: white;
    padding: 35px;
    text-align: center;
}
label.error {
    color: #FB3A3A;
}


/* NAVBAR */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  nav {
    background: #222;
    padding: 5px 20px;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    color: rgba(252, 229, 144, 255);
  }
  
  .menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
  }
  
  .toggle a {
    font-size: 20px;
  }
  
  /* Mobile nezet */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .toggle {
    order: 1;
  }
  
  .item.button {
    order: 2;
  }
  
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  
  .item.active {
    display: block;
  }
  
  /* Navbar Toggle */
  .toggle {
    cursor: pointer;
  }
  
  .bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .bars:before,
  .bars:after {
    background: #999;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .bars:before {
    top: 5px;
  }
  
  .bars:after {
    top: -5px;
  }
  
  /* Tablet menu */
  @media all and (min-width: 468px) {
    .menu {
      justify-content: center;
    }
  
    .item.button {
      width: auto;
      order: 1;
      display: block;
    }
  
    .toggle {
      order: 2;
    }
  }
  
  /* Desktop menu */
  @media all and (min-width: 768px) {
    .item {
      display: block;
      width: auto;
    }
  
    .toggle {
      display: none;
    }
  
    .item {
      order: 1;
    }
  
    .menu li {
      padding: 15px 10px;
    }
  
    .menu li.button {
      padding-right: 0;
    }
  }
/* FORM */
#myForm {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"],
  input[type="password"],
  input[type="tel"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }